
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/taskdeletestyle.css' %}">
    <title>Task Delete</title>
</head>
<body>
<div class="container">
        <a href="{% url 'home' %}" class="logo">Todo</a>
</div>

<center>

<h1>TASK DELETE</h1>
<form method="post" action="" class="myform">
    <div>
     {% csrf_token %}
<!--    <h4>{{tasks.title}}</h4>-->
    <p>Are You sure you want to delete <h4> {{tasks.title}}? </h4></p>
    <input type="submit" value="Delete">
    <center><a href ="{% url 'task1' %}">Go Back</a></center>
        </div>
</form>
</center>
<footer class="footer">
    <div class="container">
        <p>@ copyright {% now "Y" %} by <a href="#">TodoApp</a> </p>
    </div>
</footer>
</body>
</html>